extends baseEmail

block content
  div(style="padding:48px 32px 32px 32px; border:1px solid #ccd1d6; border-radius:12px; background: #f9fafb;")
    h2(style="margin-bottom:18px; font-size:22px; color:#2d3748; font-weight:700;") Welcome to Auth API! 🎉
    p(style="font-size:17px; margin-bottom:14px; color:#444; line-height:1.6;") Hello #{firstName},
    p(style="font-size:16px; margin-bottom:14px; color:#444; line-height:1.6;") We're absolutely thrilled to have you join our community! 💝
    p(style="font-size:16px; margin-bottom:14px; color:#444; line-height:1.6;") Thank you for signing up. We hope you enjoy a secure and delightful experience with Auth API.
    p(style="font-size:15px; color:#57584e; margin:0; margin-top:24px; font-style:italic;") If you ever need help, our team is here for you!
    p(style="font-size:16px; color:#57584e; margin:0; margin-top:18px;") Warm regards,
    p(style="font-size:16px; color:#57584e; margin:0; font-weight:600;") The Auth API Team